#fossmeet_banner {
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    background-color: #002;
    padding: 12px;
    text-align: center;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}
#together {
    display: flex;
}
#together > img {
    height: 60px;
    padding-top: 10px;
}
#heading {
    color: #fff;
    font-size: 60px;
    padding: 10px;
}
