meta(name='description', content='FOSSMeet is the annual event on Free and Open Source Software, conducted at National Institute of Technology, Calicut.')/
meta(name='keywords', content='nitc, fossmeet, NITC, CSEA, FOSSCell, fossmeet, fossmeet 2017, nit, fossmeet nit, nit calicut')/
meta(name='author', content='FOSSCell, NITCalicut')/
