link(rel='apple-touch-icon', sizes='180x180', href='./assets/images/favicons/apple-touch-icon.png')/
link(rel='icon', type='image/png', href='./assets/images/favicons/favicon-32x32.png', sizes='32x32')/
link(rel='icon', type='image/png', href='./assets/images/favicons/favicon-16x16.png', sizes='16x16')/
link(rel='manifest', href='./assets/images/favicons/manifest.json')/
link(rel='mask-icon', href='./assets/images/favicons/safari-pinned-tab.svg', color='#5bbad5')/
link(rel='shortcut icon', href='./assets/images/favicons/favicon.ico')/
meta(name='apple-mobile-web-app-title', content="FOSSMeet '17")/
meta(name='application-name', content="FOSSMeet '17")/
meta(name='msapplication-config', content='./assets/images/favicons/browserconfig.xml')/
meta(name='theme-color', content='#ffffff')/
