#menubar
  a.menu_item(href="./about.html") About
  a.menu_item(href="./videos.html") Videos
  a.menu_item(href="./") Previous Speakers
  a.menu_item(href="./") Social Media
  a.menu_item(href="./") Gallery
  a.menu_item(href="./") Contact Us
