doctype
html
  head
    include ./templates/head_inwrapper
    include ./templates/meta_seo
    title FOSSMeet
    link(rel='stylesheet', href='./css/base.css')/
    include ./templates/meta_favicons
  body
    #main
      include ./templates/navbar_banner
      include ./templates/navbar_items

      block content

      include ./templates/footer
    script(type="text/javascript", src='./js/app.js')
    block scripts
